body {
    background: #eeeeee;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#cards {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#cards .card {
    display: none;
    height: 100%;
    width: 100%;
}