body {
    background: #fff;
    height: 100%;
    font-family: Georgia;
    margin: 0;
    padding: 0;
    width: 100%;
}

h2 {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#cards {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#cards .card {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

#cards .card div {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#cards .card div img {
    height: 100%;
    width: 100%;
}
