.word {
  margin: 0 auto;
  position: absolute;
}

.word h2 {
  font-size: inherit;
  line-height: 1;
  margin-top: -1.5em;
  position: relative;
  top: 50%;
}

.word span {
  background: #eee;
  color: #111;
  display: inline-block;
  font-size: 2.7em;
  margin: 0 0.2em 0 0;
  padding: 0.7em 0;
  width: 3em;
}
