.word {
  top: 50%;
  margin: 0 auto;
  position: absolute;
}

.word h2 {
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: -2em;
}

.word span {
  background: #eee;
  color: #111;
  display: inline-block;
  font-size: 1.8em;
  margin: 0 0.1em 0 0;
  padding: 0.5em 0;
  width: 2em;
}
