.word {
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin: 0 auto;
  position: absolute;
}

.word span {
  background: #333;
  color: #eee;
  display: inline-block;
  font-size: 1em;
  margin: 0 0.1em 0 0;
  padding: 0.1em 0;
  width: 1em;
}
