* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;  /* prevent copy paste for all elements */
}

body {
    background: #ff0;
    height: 100%;
    max-height: 100%;
    font-family: Helvetica, Verdana;
    font-size: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
        -webkit-text-size-adjust: 100%;
}

h2 {
    margin: 0;
}

html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%
}

#app {
    height: 100%;
    max-height: 100%;
    width: 100%;
    white-space: nowrap;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
  
}

#cards {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#cards .card {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

#cards .card div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#cards .card div img {
    height: 100%;
    width: 100%;
}
