.word {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.word button {
  background: rgba(255,255,255,0.8);
  border: none;
  bottom: 1rem;
  font-size: 2rem;
  margin: 0 0.15rem 0 0;
  padding: 0.4rem 0;
  position: absolute;
  right: 1rem;
  width: 2rem;
}

.word h2 {
  font-family: "Courier New";
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 1rem;
  line-height: 1;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
}

.word span {
  display: inline-block;
  margin: 0 4.8rem 0 0;
  position: relative;
  top: -1.75rem;
}

.word span span {
  background: rgba(255,255,255,0.8);
  color: #111;
  display: block;
  padding: 0.6rem 0.4rem 0.6rem 1.2rem;
  font-size: 3.2rem;
  position: absolute;
}

.emphasize {
    font-size: 5rem;
      -webkit-transition: font-size .25s ease-out;
      transition: font-size .25s easeout;
}
