.word {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.word button {
  background: rgba(255,255,255,0.8);
  border: none;
  bottom: 1em;
  font-size: 2em;
  margin: 0 0.15em 0 0;
  padding: 0.4em 0;
  position: absolute;
  right: 1em;
  width: 2em;
}

.word h2 {
  font-size: inherit;
  line-height: 1;
  position: relative;
  text-align: center;
  top: 50%;
}

.word span {
  display: inline-block;
  margin: 0 6.5em 0 0;
  position: relative;
  top: -1.4em;
  width: 3em;
}

.word span span {
  background: rgba(255,255,255,0.8);
  color: #111;
  display: block;
  padding: 0.75em 0;
  font-size: 3em;
  position: absolute;
}
