.word {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.word h2 {
  font-size: inherit;
  line-height: 1;
  position: relative;
  top: 50%;
}

.word span {
  background: rgba(255,255,255,0.8);
  color: #111;
  display: inline-block;
  font-size: 3em;
  margin: 0 0.2em 0 0;
  padding: 0.6em 0;
  position: relative;
  top: -1.6em;
  width: 3em;
}
